EAD62/WebContent/wsdl/AreaOfTriangle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapwebservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapwebservice" xmlns:intf="http://soapwebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapwebservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="triangleArea">
    <complexType>
     <sequence>
      <element name="side1" type="xsd:double"/>
      <element name="side2" type="xsd:double"/>
      <element name="side3" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="triangleAreaResponse">
    <complexType>
     <sequence>
      <element name="triangleAreaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="triangleAreaResponse">

      <wsdl:part element="impl:triangleAreaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="triangleAreaRequest">

      <wsdl:part element="impl:triangleArea" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AreaOfTriangle">

      <wsdl:operation name="triangleArea">

         <wsdl:input message="impl:triangleAreaRequest" name="triangleAreaRequest">

       </wsdl:input>

         <wsdl:output message="impl:triangleAreaResponse" name="triangleAreaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AreaOfTriangleSoapBinding" type="impl:AreaOfTriangle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="triangleArea">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="triangleAreaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="triangleAreaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AreaOfTriangleService">

      <wsdl:port binding="impl:AreaOfTriangleSoapBinding" name="AreaOfTriangle">

         <wsdlsoap:address location="http://localhost:8080/Assignment6_1/services/AreaOfTriangle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
